body {
  font-family: 'Roboto', sans-serif;
}

/* caja blanca */
.box-shadow{
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}

/* Modal */
.ReactModalPortal > div{
    opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
    align-items: center;
    display: flex;
    justify-content: center;
    transition: opacity .2s ease-in-out;
    z-index: 999;
}



.ReactModalPortal .ReactModal__Overlay--after-open {
    opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
    opacity: 0;
}
/*---------modal estilos--------- */
.modal {
  background: white;
  border-radius: 5px;
  width: 80%; /* Ajusta el tamaño de la modal */
  max-width: 500px; /* Ajusta el ancho máximo */
  min-width: 300px; /* Ajusta el ancho mínimo */
  padding: 20px; /* Agrega algo de espacio interno */
  box-sizing: border-box; /* Incluye padding dentro del ancho total */
}

.modal-content {
  position: absolute;
  top: 50%; /* Posiciona la modal en el centro vertical */
  left: 50%; /* Posiciona la modal en el centro horizontal */
  transform: translate(-55%, -55%); /* Centra la modal */
  width: 80%; /* Asegura que ocupe todo el ancho disponible */
  max-width: 500px; /* Ajusta el ancho máximo */
  min-width: 300px; /* Ajusta el ancho mínimo */
  padding: 20px; /* Espacio dentro de la modal */
  box-sizing: border-box;
}

.modal-fondo {
  background-color: rgb(255, 255, 255); /* Fondo oscuro con opacidad */
  position: absolute; 
  top: 20%; /* Puedes ajustar la posición */
  left: 35%; /* Puedes ajustar la posición */
  width: 30%; /* Ancho del fondo en relación al modal */
  height: 75%; /* Alto del fondo en relación al modal */
  z-index: 999; /* Asegura que el fondo esté por encima del contenido */
}

/* boton*/

.fab {
    border-radius: 100%;
    bottom: 25px;
    font-size: 30px;
    padding: 25px;
    position: fixed;
    right: 25px;
  }
 /* Especificidad aumentada para cabeceras */
.mi-tabla .rdt_TableHead {
    text-align: center;
    font-weight: bold;
    background-color: #f5f5f5;
    font-size: medium;
  }
  
  /* Especificidad aumentada para celdas */
  .mi-tabla .rdt_TableCell {
    text-align: left;
    padding: 5px;
    white-space: nowrap;
    text-overflow: ellipsis;
    /* overflow: hidden; */
   
  }
  /* para filas Filas */
  .mi-tabla .rdt_TableRow {
    text-align: left;
  }
  .rdt_TableHead {
    text-align: left;
    font-weight: bold;
    background-color: #f5f5f5;
    font-size: medium;
  }
  .rdt_TableCell {
    text-align: left;
    padding: 3px;
    white-space: normal; /* Permite saltos de línea */
    text-overflow: unset; /* Desactiva el truncamiento */
    overflow: hidden; /* Muestra el contenido completo */
    word-wrap: break-word; /* Ajusta palabras largas */
    max-width: 100%; /* Asegura que el ancho de la celda se ajuste */
  }
  .rdt_TableRow {
    text-align: left;
  }